<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 基础网络访问权限。允许 App 创建 Socket（UDP/TCP）进行网络通信。必须声明，属于【正常权限】（安装即授予，无需弹窗） -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检查网络状态。允许 App 调用 API 查看当前是否联网、连接的是 WiFi 还是蜂窝网络。用于在通信前做网络可用性检测 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问本地网络权限。Android 17 (API 37) 起强制要求。局域网通信，此权限是必须动态申请的【危险权限】，例如 UDP/TCP 会因 EPERM 错误而失败 -->
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />
    <!-- 读取共享存储（如 Download 目录） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 写入共享存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 所有文件访问权限: 必须引导用户跳转到系统设置页面手动开启【允许管理所有文件】 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <!-- 录音权限。允许 App 通过麦克风采集声音。属于【危险权限】 -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <!-- 精确 GPS 定位。允许 App 获取经纬度（精度 10 米内） -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- 粗略网络定位。允许 App 基于 WiFi/蜂窝基站获取位置（精度约 100-500 米） -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- 读取手机通讯录 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->
    <!-- 修改或新增联系人 -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS"/> -->
    <!-- 发送通知权限。Android 13 (API 33) 起引入，用于在通知栏弹消息。属于【危险权限】 -->
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> -->
    <!-- 蓝牙访问 -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH"/> -->
    <!-- 蓝牙信息访问配置文件（Message Access Profile）。用于在车载设备上同步短信/彩信 -->
    <!-- 系统级权限，tools:ignore="ProtectedPermissions" 是为了编译时忽略【受保护权限】报错 -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_MAP" tools:ignore="ProtectedPermissions"/> -->
    <!-- 蓝牙连接权限 -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/> -->


    <application android:label="CPD" android:name="${applicationName}" android:icon="@mipmap/launcher_icon">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:taskAffinity="" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
